@model List<string>

@{
    ViewData["Title"] = "Home Page";
}



<Form method="Post" asp-action="Index" asp-controller="Flights">
     <p>form to get to flights depending on the user input</p>
     <input type="date" name="Date"> 
     <label>Departure</label> <select name="DepartureCountry">
     @foreach(string c in Model){
        
         <option value="@c">@c</option>
         
     }</select>
     
     <label>Arrival</label>
     <select name="ArrivalCountry">
     @foreach(string c in Model){
         
         <option value="@c">@c</option>
        
     } </select>
     <button type="submit" class="btn btn-primary">Go to flights</button>
</Form>